<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="robot_description" command="cat $(find temperature_gradient_navigation)/config/urdf/agent.urdf" />

    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.2"/>
 
    <node name="agent_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model agent -x $(arg x) -y $(arg y) -z $(arg z)" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"></node>

</launch>
